version: 2
jobs:
    build:
        working_directory: /go/src/github.com/pkryvyi/go
        environment:
            PROJECT_ID: webapp-207620
            CLUSTER_NAME: webapp207620-cluster
            COMPUTE_ZONE: europe-west1-b
    #As specified in Deployment.yml
            DEPLOYMENT_NAME: webapp2
            CONTAINER_NAME: webappp2
            NODES: 1
        docker:
            #- image: circleci/golang:1.9
            - image: google/cloud-sdk
        steps:
            - run:
                name: Store Service Account
                command: echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json

            - setup_remote_docker
            - checkout
            #- run: sudo service docker start
            
            - run: 
                name: Build a Docker image and use the Github commit hash ($CIRCLE_SHA1) as the tag
                #command: docker build -t webapppp .
                command: docker build -t eu.gcr.io/${PROJECT_ID}/${DEPLOYMENT_NAME}:$CIRCLE_SHA1 .

            - run: echo $GCLOUD_SERVICE_KEY > key.txt
        # Decode the Service Account
            - run: base64 -i key.txt -d > ${HOME}/gcloud-service-key.json
        # Authenticate CircleCI with the service account file
            #- run: gcloud auth activate-service-account ${ACCOUNT_ID} --key-file ${HOME}/gcloud-service-key.json 
            - run: gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json 

                #gcloud config set account ${ACCOUNT_ID} 
            - run: gcloud auth configure-docker

            - run:
                name: Push the Image to the GCP Container Registry
                #command: /opt/google-cloud-sdk/bin/gcloud docker -- push eu.gcr.io/${PROJECT_ID}/node-app:$CIRCLE_SHA1
                command: docker push eu.gcr.io/${PROJECT_ID}/${DEPLOYMENT_NAME}:$CIRCLE_SHA1
            - run: export PROJECT_ID="$(gcloud config get-value project -q)"
            - run: gcloud config set project ${PROJECT_ID}
            - run: gcloud config set compute/zone ${COMPUTE_ZONE}
            #- run: gcloud projects set-iam-policy ${PROJECT_ID} ${HOME}/gcloud-service-key.json
            - run: gcloud container clusters create ${CLUSTER_NAME} --num-nodes=${NODES} #--region=${COMPUTE_ZONE}
            #- run: gcloud --quiet container clusters get-credentials ${CLUSTER_NAME}
            - run: kubectl run ${DEPLOYMENT_NAME} --image=eu.gcr.io/${PROJECT_ID}/${DEPLOYMENT_NAME}:$CIRCLE_SHA1 --port 8080
            - run: kubectl expose deployment ${DEPLOYMENT_NAME} --type=LoadBalancer --port 8080 --target-port 8080
            - run: gcloud container clusters get-credentials ${CLUSTER_NAME} --zone ${COMPUTE_ZONE} --project ${PROJECT_ID}
            - run: kubectl get services webapp2 -o jsonpath='{.status.loadBalancer.ingress[0].ip}'; echo
           #     name: Update the default image for the deployment
           #     command: sudo /opt/google-cloud-sdk/bin/kubectl set image deployment/${DEPLOYMENT_NAME} ${CONTAINER_NAME}=eu.gcr.io/${PROJECT_ID}/node-app:$CIRCLE_SHA1

#workflows:
 # version: 2
  #build_and_test:
   # jobs:
    #  - build


